<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SigmaStream uses speech recognition to let you search and discover movies and shows using your voice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SigmaStream uses the microphone to listen to your voice requests.</string>
</dict>
</plist>
